@import "libs/responsive.scss";
$colorGreen: #19947B;
$fontFamilyTitle:  'Dancing Script', cursive;
$fontFamilyPar: 'Handlee', cursive;

body,
html
{
  padding: 0;
  margin: 0;
  
}
h1
{
  font-family: $fontFamilyTitle;
  text-align: center;
  font-size: 3em;
  background: linear-gradient(90deg,rgb(40, 40, 179), 50%,  rgb(121, 157, 255) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 60px;
}
div 
{
  
  text-align: center;
  

  h2
{
 display: inline-block

}
h2:before {
  content: "";
  display: block;
  height: 0.25em;
  width: 0%;
  cursor: pointer;
  background-color: #000;
  transition: width 0.4s;
  top: 35px;
  position: relative;
  
 }
 h2:hover:before {
  width: 100%;
 }

}

h3 
{
  display: inline-block;
  font-family: $fontFamilyPar;
  font-size: 15px;
  margin: -8px 6px 0 6px;
}




h3:before {
  content: "";
  display: block;
  height: 0.25em;
  width: 0%;
  cursor: pointer;
  background-color: #000;
  transition: width 0.4s;
  top: 35px;
  position: relative;
  
 }
h3:hover:before {
  width: 100%;
 }


section
{
  width: 550px;
  height: 750px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 180px;
  border: 1px black solid;

  & ul 
  {
    padding:30px 30px;
  }
  
  
  & li
  {
    font-family: $fontFamilyPar;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    padding: 8px;
    
  & p
  {
    text-align: left;
  }
  & .prix
  {
    text-align: right;
  }
  
  }

  

}
.trait
  {
    width: 200px;
    height: 4px;
    background: linear-gradient(90deg,rgb(40, 40, 179), 50%,  rgb(121, 157, 255) );
  }
.esquisse
{
  display: flex;
  text-align: center;

  
}
.prelude, .orgue, .terminer
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


@media #{$screen-md-max}
{
    .headerGreen
    {
        position: fixed;
        left: 0;
        top: 0;
       
      
    }
    h2
    {
      margin:160px 0 0px 0;
    }
    
    .button
    {
      display: none;
    }
    section
    {
      margin: 20px 0 220px 0;
      width: 100%;
      height: auto;
      display: block;
      
    }
    ul 
    {
      text-align: left;

      .prix
      {
        padding-left: 40px;
      }
    }
    

  }
  
